@import '../../styles/colors';

#NavBar-Title{
    color: $secondary;
}
.Epi-Navbar{
    background-color: $primary !important;
}

.navbar-light .navbar-nav .nav-link{
    color: $tertiary;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: $secondary;
}

.navbar-light .navbar-nav .show>.nav-link{
    color: $secondary;
}

.navbar-light .navbar-nav .nav-link.active{
    color: $secondary;
}

.Epi-departments{
    font-weight: bold;
    
}

.dropdown {
    position: inherit;
}

.dropdown-menu {
  width: 100% !important;
}